/* LoginPage.css */

.login-page {
    font-family: Arial, sans-serif;
  }
  
  .image-section {
    background-image: url('../../assets/images/voyager-assets.jpg'); /* Replace with your actual image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: #fff;
  }
  
  .image-section .overlay {
    background: rgba(0, 0, 0, 0.6); /* Slightly darker overlay for readability */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
  }

  .image-section  {
    padding-right: unset !important
  }
  
  .image-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .image-section p {
    font-size: 1rem;
  }
  
  .form-section {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px; /* Control form width to match image */
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .form-container h3 {
    color: #333;
  }
  
  .form-container .form-control {
    margin-bottom: 1.5rem;
  }
  
  .form-container .form-check-label {
    color: #666;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .form-section {
      padding: 1.5rem;
    }
  
    .image-section {
      display: none; /* Hide the image section on small screens */
    }
  
    .form-container {
      max-width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .form-section {
      padding: 1rem;
    }
  
    .form-container h3 {
      font-size: 1.5rem;
    }
  }
  